*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poiret One", sans-serif;
}
html, body{
    height: 100%;
}
.clear{
    clear: both;
}
/*header-main*/
.header-main{
    background-color: #f6f4f0;
    height: 55vh;
    width: 100%;
}
.menu-fixed{
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(236, 232, 223, 0.7);
}
.menu-fixed select{
    outline: 0;
    width: 10%;
    border: 1px solid #000000;
    background-color: rgba(236, 232, 223, 0.7) ;
    float: right;
    clear: right;
}
header nav{
    width: 90%;
    float: left;
    clear: left;
}
header nav ul{
    margin-left: 20px;
    list-style-position: outside;
}
.menu-fixed ul li img{
    width: 45px;
    height: 45px;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    font-size: 18px;
    margin-left: 12px;
    text-decoration: none;
    color: #000000;
}
header.header-main h1{
    text-align: center;
    transform: translateY(150px);
}
/*bg-1*/
.bg-1{
    width: 100%;
    height: 55%;
    background-image: url(../imagens/restaurante.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
/*servico*/
section.servico .container{
    position: relative;
    top: -30px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}
section.servico .box-servico{
    background-image: url(../imagens/garfo.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
section.servico .box-servico:nth-child(1){
    background-color: #f6f4f0;
    padding: 30px 2%;
}
section.servico .box-servico:nth-child(2){
    background-color: rgb(236, 232, 223);
    padding: 40px 2%;
    background-image: none;
}
section.servico .box-servico:nth-child(3){
    background-color: #f6f4f0;
    padding: 30px 2%;
}
/*description*/
section.description .container{
    max-width: 1100px;
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.description-wrapper{
    display: flex;
}
.div-1{
    width: 50%;
}
.div-1 img{
    width: 280px;
    height: 300px;
}
.div-1 p{
    margin-top: 20px;
}
/*videos*/
section.videos{
    padding: 50px 0;
}
section.videos .container{
    display: flex;
}
section.videos .box-videos{
    width: 33.3%;
    position: relative;
    padding-top: 33.3%;
}
section.videos .box-videos iframe{
    width: 100%;
    height: 80%;
    position: absolute;
    border: 5px solid white;
    top: 0;
    left: 0;
}
/*receitas*/
section.receitas .receitas-container{
    width: 33.3%;
    float: left;
}
.receitas h2{
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
}
.receitas-single{
    padding: 20px;
}
.receitas-single h2{
    font-size: 18px;
}
.receitas-single p{
    padding: 10px 0;
    font-size: 13px;
}
/*depoimentos*/
section.depoimentos h2{
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
}
section.depoimentos .container{
    padding: 10px 0;
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    align-items:center;

}
section.depoimentos .container .depoimento-seta img{
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 0  20px;
}
section.depoimentos .container .depoimento-seta:nth-child(1){
    transform: rotate(180deg);
}
section.depoimentos .depoimento-single{
    text-align: center;
}
section.depoimentos .depoimento-single quote{
    font-size: 15px;
}
.nome-depoimento{
    padding: 10px 0;
}
.nome-depoimento span{
    font-size: 13px;
    display: inline-block;
    position: relative;
    top: 4px;
    vertical-align: top;
}
.nome-depoimento img{
    width: 40px;
    border-radius: 180px;
    height: 40px;
}